.content {
  background-color: lightblue;
  padding: 20px;
  /* border-radius: 1000px; */
  text-align: center;
  background: linear-gradient(to right, #eea1fd, #6dc0e7);
}
a[href] {
  display: inline-block;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 150px;
  background-color: rgb(40, 147, 197);
  border-radius: 999px;
  text-decoration: none;
  color: black;
  text-align: center;
  /* Quản lý sự kiện chuột , None : không tương tác được với nút link , ctrl+/ để bật lệnh này */
  /* pointer-events: none; */
}
a:hover {
  background-color: rgb(93, 189, 181);
}
.picture {
  border-radius: 100px;
  flex: 1; /* Mỗi ảnh sẽ chiếm một phần bằng nhau trong không gian còn lại */
  max-width: 60%; /* Đặt chiều rộng tối đa cho mỗi ảnh (ví dụ: 3 ảnh trên 1 dòng) */
  height: 290px; /* Đặt chiều cao cố định để chúng có cùng chiều cao */
  object-fit: cover; /* Đảm bảo ảnh không bị méo */
  display: flex;
  object-fit: cover;
  padding: 50px;
  margin: auto;
  /* box shadow : đối số 1 là trục X , đối số 2 là trục Y , đối số 3 là độ nhòe , đối số 4 là bán kính trải rộng */
  box-shadow: -60px 60px 60px 10px rgba(83, 182, 191, 0.418);
}
.pic1,
.pic2,
.pic3 {
  border-radius: 50px;
  margin: 0 auto;
  display: block;
  border: 10px solid rgb(49, 210, 191);
  margin-left: -60px;
  /* Quản lý sự kiện chuột , None : không tương tác được với ảnh , ví dụ như tải về . */
  pointer-events: none;
}
.pic1:first-child {
  margin-left: 0;
}
.content2 {
  text-align: center;
  margin-top: 50px;
  padding: 50px;
}
.content2 a {
  display: inline-block;
  margin: 15px 15px;
  padding: 15px 25px;
  background-color: rgb(40, 147, 197);
  border-radius: 999px;
  text-decoration: none;
  color: black;
}
.content2 a:hover {
  background-color: rgb(93, 189, 181);
}
