.content {
  background-color: lightblue;
  padding: 20px;
  border-radius: 1000px;
  text-align: center;
}
a[href] {
  background-color: rgb(0, 255, 251);
  border-radius: 50px;
}
a:hover {
  background-color: rgb(93, 147, 189);
}
.picture {
  flex: 1; /* Mỗi ảnh sẽ chiếm một phần bằng nhau trong không gian còn lại */
  max-width: 60%; /* Đặt chiều rộng tối đa cho mỗi ảnh (ví dụ: 3 ảnh trên 1 dòng) */
  height: 290px; /* Đặt chiều cao cố định để chúng có cùng chiều cao */
  object-fit: cover; /* Đảm bảo ảnh không bị méo */
  display: flex;
  object-fit: cover;
  padding: 50px;
  margin: auto;
}
.pic1,
.pic2,
.pic3 {
  border-radius: 50px;
  margin: 0 auto;
  display: block;
  border: 10px solid rgb(49, 210, 191);
  margin-left: -60px;
}
.pic1:first-child {
  margin-left: 0;
}
